body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif, Arial;
}


/* This is setting variable (base colors)*/
:root {
    --color-primary:#111;
    --color-secondary:#fff;
    --color-accent:#808080;
    --color-body:#4f4f4f;
}


/* This is the general setting of font size and font family*/

html {
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-size: 1.5rem;
}

h1,h2,h3,h4{
    color: var(--color-primary);
}

h1{
    font-size: 7rem;
}

h2{
    font-size:3rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 2rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
}

/*Animation affects*/

/*Animation fade in*/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anim-fade {
    animation-name: fadein;
    animation-duration: 2s;
}


/*Buttons*/
.button{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    color: var(--color-primary);
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 40px 10px 40px;
    border-color: var(--color-primary);
    border-style: solid;
    border-width: 3.5px;
    transition: color 0.2s;
    transition: background-color 0.2s;
}

.button:hover{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: bold;
}

span.boldlink {
    font-weight:bold;
}

/*Collapsible Content (menu)*/
.collapsible__header {
    display: flex;
    position:relative;
    left: 10px;
}

/*We use 0 height + hidden overflow for animation*/
.collapsible__content_1 {
    max-height:0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.collapsible__content_2 {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
    float: left;
    position: relative;
    right: 10px;
}

/*max-height ensure its not actually taking on that much space*/
.collapsible--expanded .collapsible__content_1 {
    max-height: 100vh;
    opacity: 1;
}

.collapsible--expanded .collapsible__content_2 {
    max-height: 200px;
    opacity: 1;
}

.collapsible--expanded .menu {
    background-color: white;
}

/*Menu CSS*/

.menu {
    margin-left: 3vw;
    margin-top: 40px;
    float: left;
    width: 240px;
}
.menu-title {
    font-family: 'Roboto', sans-serif, Arial;
    font-size: 3.2rem;
    margin: 0;
}
.menubar {
    height: 200px;
    float: left;
    position: relative;
}
.menu-element {
    max-height: 3.2rem;
    margin-top: 0.1rem;
}
.menu-item {
    margin: 1.2rem 0 1.2rem 0;
}
.menu-item4 {
    margin-top: 3.5rem;
}
.menu-button {
    color: var(--color-primary);
    font-weight: 300;
    font-size: 2.1rem;
    padding: 5px 10px 5px 0;
    transition: all 0.3s;
}
.menu-button:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-weight: bold;
    font-size: 2.3rem;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.sticky{
    position:fixed;

}

/*Page 1 block and title construction*/
.p1 {
    width: 100vw;
    height: 100vh;
    background-image: url(../Library/Content-Library/image/Page-1/p1-bg.jpg);
    background-size:1912px 1075px;
    background-position: 30% 0%;
    background-repeat: no-repeat;
}

.maintitle {
    font-size: 9rem;
    font-family: 'Roboto', sans-serif, arial;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding-left: 23%;
    margin: 0 0 14rem 0;
}
.highlight {
    font-style: normal;
}
.black {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: bold;

}
.Subtitle {
    font-family: 'Roboto', sans-serif, arial;
    font-size: 2.8rem;
    font-weight: 300;
    padding-left: 23.3%;
    padding-top: 17rem;
    margin: 0;
}

.highlight-sub {
    font-style: normal;
}

.p1button1 {
    margin-left: 23%;
}

/*Page 2 sectional division and layout*/
.p2 {
    width: 100vw;
    height: 100vh;
}
.p2container {
    height: 617px;
    width: 95%;
    border: 4px solid var(--color-primary);
    margin: 3rem 2.5% 3rem 2.5%;
    background-image: url(../Library/Content-Library/image/Page-2/bg-ink.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 18% 0%;
}
.grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
}
.impactfr {
    width: 100%;
}
.p2subtitle {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 11.5rem 0 0 0;
}
.p2highlight {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-style: normal;
}
.p2highlight1{
    font-weight: 600;
}
.p2highlight2{
    font-weight: 600;
}
.p2num {
    font-size: 20rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}
.p2bottombox {
    width: 60%;
    margin: auto;
}
.p2element{
    float: left;
    height: 12rem;
    margin-right: 2rem;
}
.p2text{
    font-size: 3rem;
    font-weight: 300;
    color: var(--color-primary);
    margin: 0;
}
.p2body {
    font-weight: 300;
    font-size: 2rem;
    color: var(--color-primary);
}

.p2button1{
    margin: 3rem 4rem 0 0;
    float: right;
}
.whiten {
    color: white;
}
.bold {
    font-weight: 600;
}
/*Panels (cards) General*/
/*All of the general settings are here*/

.p3-panel {
    border-width: 4px;
    border-style: solid;
    border-color: var(--color-primary);
    width: 400px;
    height: 617px;
    margin:auto;
}


/*Displacement to bottom of the panel*/
.panelbd {
    position: relative;
    top: 60%;
}

.panel-heading {
    font-size: 10rem;
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: bold;
    text-align: center;
    color: var(--color-primary);
}

.panel-body {
    text-align: center;
}

.panel-bodytext{
    font-size: 2.0rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif, Arial;
    color: var(--color-primary);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

/*Panel specific settings for background*/
.p3-p1 {
    background-image: url(../Library/Content-Library/image/Page-3/Panel-1bg-tree.png);
    background-size: 400px 617px;
}

.p3-p2 {
    background-image: url(../Library/Content-Library/image/Page-3/Panel-2-bg-landscape.png);
    background-size: 400px 617px;
}

.p3-p3 {
    background-image: url(../Library/Content-Library/image/Page-3/panel-3bg-flower.png);
    background-size: 400px 617px;
}

/*Creating Grids for Layout*/
.grid {
    display: grid;
}

/*Page 3 grid layout*/
.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 1200px) {
    .grid--1x3 {
        width: 90vw;
    }
}

.center {
    margin: auto;
}

.p3 {
    margin-bottom: 100px;
}

